@import "../base/reset.scss";

html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../../static/images/bk2.jpg');
  background-size: 100% 100%;
}

#app{
  height: 100%;
  width: 100%;
}

.nav{
  height: 100%;
  width: 100%;
}

.logoBox {
  position: absolute;
  left: 5%;
  top: 2%;
  display: none;
  img {

  }
}

.searchBox {
  padding-top: 6%;
  height: 38px;
  @include displayFlex();
  @include justify-content(center);
  @include align-items(center);
    .inputBox{
      height: 38px;
      input[type=text] {
        height: 100%;
        width: 500px;
        padding-left: 10px;
        font-size: 17px;
        border: 1px solid #b8b8b8;
        box-sizing: border-box;
      }
      .searchList{
        position: relative;
        width: 500px;
        background-color: #fff;
        z-index: 999;
        display: none;
        li{
          height: 30px;
          font-size: 14px;
          line-height: 30px;
          cursor: pointer;
          padding-left: 5px;
          &:hover{
            background-color: #F0F0F0;
          }
          &.focus{
            background-color: #F0F0F0;
          }
          >a{
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;
          }
        }
      }
    }
    
  .send {
    height: 100%;
    width: 102px;
    line-height: 38px;
    display: block;
    text-align: center;
    background-color: #38f;
    font-family: Arial, Helvetica, sans-serif;
    color: $white;
    border: 0;
    cursor: pointer;
  }
}

.webCenter{
  width: 100%;
  height: 500px;
  position: relative;
  @include displayFlex();
  @include justify-content(center);
  @include align-items(center);
  .webBox {
    margin-top: 3%;
    height: 100%;
    width: 900px;
    position: relative;
    overflow: hidden;
    .webLimit{
      position: absolute;
      left:0px;
      height: 400px;
      width: 2000px;
      .web {
        height: 400px;
        width: 900px;
        padding-left: 8px;
        float: left;
        .once {
          width: 20%;
          margin-top: 20px;
          display: inline-block;
          position: relative;
          text-align: center;
          z-index: 100;
          cursor: default;
          @include border-radius(50%);
          span {
            width: 100%;
            margin-top: 10px;
            text-align: center;
            display: inline-block;
            font-weight: bold;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            img {
                height: 100px;
                width: 100px;
                cursor: pointer;
                @include border-radius(50%);
            }
            &:nth-of-type(1) {
                margin-top: 20px;
                margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .webPoint{
    position: absolute;
    left:50%;
    margin-left:-30px;
    bottom: 60px;
    .point{
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-left: 10px;
      opacity: 0.5;
      cursor: pointer;
      background-color: deeppink;
      @include border-radius(50%);
      &.focus{
        opacity: 1;
      }
    }
  }
}
